@mixin breakpoint($value) {
    @media (max-width: $value) {
        @content;
    }
}

@mixin line-clamp($value: 1) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $value;
    overflow: hidden;
}

@mixin truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}