$color-black: #151515;
$color-dark: #1c1c1c;
$color-dark-hover: #2e2e2e;
$color-gray: #878787;
$color-gray-secondary: #a3a3a3;
$color-white: #fff;
$color-brown: #c19b76;
$color-brown-hover: #cfab87;
$color-brown-secondary: #c9a787;

$font-gilda: "Gilda Display", serif;
$font-roboto: "Roboto", sans-serif;

$line-height: 1.5;

$laptop: 1280px;
$tablet: 991px;
$mobile: 768px;
$mobile-medium: 640px;
$mobile-small: 545px;
$mobile-extra-small: 320px;

$z-header: 1000;
$z-mobile-menu: 2000;
$z-sidebar: 2000;
$z-modal: 3000;